



.bootstrap-tagsinput {
    width: 800px;
}

.bootstrap-tagsinput input:focus::-webkit-input-placeholder{
    color: transparent!important;
}
.bootstrap-tagsinput input:focus::-moz-placeholder{
    color: transparent!important;
}
.bootstrap-tagsinput input:focus:-moz-placeholder{
    color: transparent!important;
}

.content{
    margin: 0 auto;
    width:80%; /* value of your choice which suits your alignment */

    height: 280px;
    padding:1em;

}

/*fieldset { overflow:hidden }*/
